@import 'normalize.css';
@import './colors';
@import './fonts';

:root {
    @include color-variable;

    --primary-color: var(--35-years-old-purple);
    --secondary-color: var(--brilliant-rose);
    --background-color: var(--mirage-dark);
    --text-primary: #fdfbfb;
    --text-secondary: #b3b3b3;
}

[data-theme='light'] {
    --primary-color: var(--coral-pink);
    --secondary-color: var(--sleuthe-yellow);
    --background-color: var(--ragin-beige);
    --text-primary: #000;
    --text-secondary: #333;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', 'Open Sans', sans-serif;
}
